.greed-container {
    display: grid;
    background-color: aquamarine;
  }
.main-container{
    position: fixed;;
    left: 25%;
    height: 25%;

}

button{
    background-color: hsl(225, 21%, 49%);
    border-radius: 2px;
}

.center {
    width: 50%; 
}